/**
 * Created by Zafalon.com on 7/26/16.
 */
@media (max-width: 300px) {
    body * {
        display: none;
    }
    body .too-small-screen{
        display: block;
        padding: 5px;
    }
}
@media (min-width: 300px) {

    body .too-small-screen{
        display: none;
    }
}

body {
    background-color: #1c2b33;
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 0 !important;
    }
}

#veja-aqui {
    height: 40px;
    position: absolute;
    margin-left: 100px;
    margin-top: -17px;
    z-index: 30;
}

.container-fluid {
    max-width: 1080px;
}


/*
+---------------------+
|       Welcome       |
+---------------------+
*/
@media (min-width: 768px )and( max-width: 1300px) {
    .entre-home{
        margin-top: -200px;
        position: relative!important;
    }
}
@media (min-width: 1300px) {
    .entre-home{
        margin-top: -300px;
        position: relative!important;
    }
}

.image-rel {
    position: relative;
    z-index: -1;
    width: 100%;
    top: -50px;
}

#citytips-home {
    width: 100%;
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.title-home {
    position: absolute;
    color: white;
    text-shadow: 0px 0px 10px black;
    left: 50%;
    margin-left: -141px;
}

.row-list-city {
    margin: 0 -20px !important;
}

.row-list-city-modal {
    margin: 0 -10px !important;
}

.lista-cidades {
    background-color: #f5f5f5;
    padding-bottom: 40px;
}

.lista-cidades a {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 7px black;
}
.cidades-welcome{
    background-color: #1c2b33;
    padding: 20px 0;
}

.bs-callout-city {
    /*border-right-color: rgb(134, 227, 120) !important;*/
    padding: 0;
    margin: 5px -10px;
    border-right: 5px solid #274251 !important;
    /*border-right-width: 5px;*/
    /*border-radius: 3px;*/
    background-color: #fcfcfc;
    /*-webkit-box-shadow: 3px 3px 5px 0px rgba(82, 82, 82, 0.42);*/
    /*-moz-box-shadow: 3px 3px 5px 0px rgba(82, 82, 82, 0)*/
}

.lista-cidades h4 {
    color: #2f2f2f;
    font-size: 17pt;
    margin-top: 40px;
}

.lista-cidades h4 span {
    /*border-bottom: 1px solid #2f2f2f;*/

}

.img-logo {
    width: 200px;
    margin-top: -4px !important;
    margin-left: -5px !important;
    margin-right: 10px !important;
}

.tab-content {
    background-color: #1c2b33;
    padding: 5px;
    border-bottom: 1px solid #1c2b33;
    border-left: 1px solid #1c2b33; /*era cinco*/
    border-right: 1px solid #1c2b33;
    margin-bottom: 20px;
}
.nav-tabs{
    border-bottom: 3px solid #1c2b33;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #1c2b33 !important;
    color: white;
    border: 1px solid #1c2b33;
}
.nav>li>a{
    color: white;
    border: 1px solid #1c2b33;
}
.nav-tabs>li.active>a{
    background-color: #1c2b33 !important;
    color: white;
    border: 1px solid #1c2b33;
}
.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
    background-color: #1c2b33 !important;
    color: white;
    border: 1px solid #1c2b33;
}

@media (min-width: 768px) {
    .tab-pane {
        padding: 0 20px;
    }
}

.btn {
    border-radius: 2px !important;
}

.logo-site {
    width: 100px;
}

.clickable {
    cursor: pointer;
}

.jumbotron {
    background-image: url("/images/fundo.jpg");
    background-size: cover;
}

.jumbotron p {
    font-size: 20pt;
}

.pull-down {
    margin-bottom: 300px;
}

.fix-titulo {
    margin-top: 40px;
}
/*
+---------------------+
|   Dialog bubble     |
+---------------------+
*/
.img-thumbnail{
    padding: 2px!important;
}
.bubble
{
    position: relative;
    /*width: 250px;*/
    /*height: 120px;*/
    padding: 10px;
    background: #ffffff !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;


}

@media (max-width: 767px) {

    .bubble:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -15px;
        left: 18px;
    }
    .image-bubble{
        height: 70px;
        left: 25px;
        bottom: -50px;
        position: absolute;
    }
    .bubble{
        margin-top: 70px!important;
    }
    .status-box-image{
        left: 10px !important;
    }
    .status-box{
        margin-right: -5px!important;
        margin-left: -5px!important;
    }

}
@media (min-width: 768px) {
    .image-bubble{
        height: 70px;
        right: 0;
        position: absolute;
    }
    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #ffffff;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -15px;
        left: -15px;
        top: 45px;
    }
}

/*
+----------------------------+
|     Eventos Novo Single    |
+----------------------------+
*/
@media (min-width: 768px) {
    .evento-single-bubble{
        padding: 50px;
    }
}
@media (max-width: 768px) {
    .evento-single-bubble{
        padding: 5px;
    }
}
.evento-single-bubble{
    color: white;
}
.ev-comments{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.ev-related{
    margin: 5px;
}

/*
+---------------------+
|     Eventos Novo    |
+---------------------+
*/
.carousel-inner>.item img{
    max-height: 265px;
}





@media (min-width: 768px) {
    .carousel-img{
        /*width: 100%;*/
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .capa-comercio-single{
        margin-bottom: 20px;
    }
}
@media (min-width: 450px) and (max-width: 768px) {
    .carousel-img{
        width: 100%;
        height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#carousel-posts-de-locais.carousel.slide{
        margin: 0 -30px;
    }
    .carousel-indicators{
        display: none;
    }
    .capa-comercio-single{
        margin-bottom: 20px;
    }
}

@media (max-width: 450px){
    .carousel-img{
        width: 100%;
        height: 135px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#carousel-posts-de-locais.carousel.slide{
        margin: 0 -30px;
    }
    .carousel-indicators{
        display: none;
    }
    .capa-comercio-single{
        margin-bottom: 20px;
    }
}


.carousel-link{
    color: white;
    background-color: #0a568c;
    padding: 5px;
}
#eventos a{
    color: white;
}
#eventos td{
    border-color: #274251!important;
}
#eventos p{
    color: white;
    margin: 0;
    max-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#eventos p:first-child{
    font-size: 12pt;
    font-weight: 700;
}
#eventos p:nth-child(2){
    font-size: 10pt;
    font-weight: 400;
    padding-left: 3px;
}
#eventos td{
    padding:  5px 0;
}
#eventos .local-foto{
    height: 40px;
    width: 40px !important;
    border-radius: 50%;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
}
#eventos .up-lista-evento{

}
#eventos .data-divisao td{
    border:none!important;
}
#eventos .data-divisao p{
    margin-top: 40px !important;
}
.badge-score{
    background-color: #304960;
    color: #23ff1c;
}
.badge-score-up{
    background-color: #23ff1c;
    color: #304960;
}
.st-st-chevron{
    padding: 0 4px;
}
/*
+---------------------+
|       Eventos       |
+---------------------+
*/

@media (min-width: 768px) {
.data-divisao{
    color: #cdcdcd;

    /*padding: 10px 0 40px;*/
    /*font-size: 30pt;*/
}
}
@media (max-width: 768px) {
    .data-divisao{
        color: #cdcdcd;
        /*padding: 5px 0 10px;*/
        /*font-size: 19pt;*/
    }
}
.evento-footer{
    margin-top: 10px;
}

.eventos h3 a {
    color: #2f2f2f;
}

.ev-link a {
    color: #333;
}

.autocomplete-suggestion {
    background-color: white;
    border: 1px solid #f6f6f6;
    padding: 3px 8px;
}
.autocomplete-suggestion:hover {
    background-color:#f6f6f6 ;
}

.st-st {
    color: #ff9252;
}
.st-st-up {
    color: #23ff1c;
}
.st-st-down {
    color: #ff201e;
}

.texto-evento {
    white-space: pre-wrap;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.texto-evento-single {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-fix {
    margin-top: -15px;
}

.mes {
    color: #3e6880;
}

.up-up {
    color: #3e6880;
}

/*
+---------------------+
|   box comercios     |
+---------------------+
*/
/*isotope*/
.is-checked {
    border: 2px solid #2b6b23;
}

#comercios {
    padding-bottom: 70px;
}

@media (max-width: 767px) {
    .container-fluid {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.m-filter {
    font-size: 9pt;
    padding: 2px;
}

.recomendado-icone {
    font-size: 14pt;
}

.botao-filtro {
    margin-top: 5px;
}

.tab-titulo {
    background-color: #274251;
    width: 110px;
    color: white;
    padding: 8px;
    border-radius: 3px;
}

.bs-callout {
    padding: 20px;
    margin: 15px 0 15px 0;
    border: 1px solid #eee;
    /*border-right-width: 5px;*/
    border-radius: 3px;
    background-color: #fcfcfc;
    /*-webkit-box-shadow: 0 10px 6px -6px #777;*/
    /*-moz-box-shadow: 0 10px 6px -6px #777;*/
    /*box-shadow: 0 10px 6px -6px #777;*/
    /*background-color: rgba(232, 216, 66, 0.04);*/
}

.bs-callout-info {
    /*border-right-color: rgba(134, 227, 120, 0.55)*/
}

.btn-menu-rest {
    width: 100% !important;
    margin-top: 5px;
}

.btn-menu-rest .badge {
    background-color: #a2a2a2;
}

.badge-text {
    color: #5c5c5c !important;
}

.fix-image-card {
    margin-left: 15px;
    margin-right: -15px;
}

.fix-info-card {
    margin-right: -10px;
    margin-left: 10px;
    height: 190px;
}

.card-body-list-item {
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

@media (max-width: 1008px) {
    .card-body-list-item {
        overflow: hidden;
        margin: 4px;
        height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
}

.fix-info-card-single {
    margin-right: -10px;
    margin-left: 10px;
}

.comercios {

    /*position: relative!important;*/
}

.comercios h3 {
    margin-top: -5px;
    height: 27px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-titulo {
    margin-top: -35px;
    margin-right: -10px;
}

@media (max-width: 360px) {
    .btn-menu-rest {
        font-size: 8pt;
    }
}

@media (max-width: 380px) {
    .btn-menu-rest span {
        font-size: 5pt;
        padding: 1mm;
    }
}

.glyphicon-option-horizontal {
    font-size: 20pt;
}

.comercios h3 a {
    color: #2f2f2f !important;
}

.add-com {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .btn-add-comercio {
        margin-left: 40%;
        width: 20%;
    }
}

@media (max-width: 768px) {
    .btn-add-comercio {
        margin-left: 29%;
        width: 42%;
    }

    .ev-small-screen {
        width: 150%;
        margin-left: -80px
    }
}

@media (max-width: 768px) {
    #comercios {
        margin-bottom: 80px;
    }
}

.oficial-icon {
    color: #54a3ff;
}

.bottom-card-info {
    margin: 0;
    font-size: 8pt;
    color: #969696;
}

.bottom-card-autor {
    margin: 10px 0 0 0;
    font-size: 8pt;
    color: #969696;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
+---------------------+
|  painel usuário     |
+---------------------+
*/
.panel-success{
    border-color: #3e6880;
}
.panel-success>.panel-heading{
    background-color: #3e6880;
    border-color: #3e6880;
    color: white;
}
.panel-success>.panel-heading a small{
    color: white;
}

.lista-comercios {
    background-color: #3e6880
}

.lista-comercios a {
    font-size: 15px;
    color: white;
    text-shadow: 0 0 7px black;
}

.lista-comercios h4 {
    color: white;
}

.badge-success {
    background-color: #3e6880;
}

.badge-wait {
    background-color: #ff9252;
}

.badge-danger {
    background-color: #f5363c;
}

.badge-danger a {
    color: white;
    text-decoration: underline !important;
}

.fix-desativar-conta {
    margin-right: 100px !important;
    margin-top: -57px !important;
}

/*
+---------------------+
|     box status      |
+---------------------+
*/
.status-box{
    margin-right: -0px;
    margin-top: -10px;
    margin-left: 10px;
}

.status-box .local-status-box {
    width: 100%;
    border-radius: 0;

}

.status-box textarea {
    resize: none;
    border-radius: 0;
}

.input-box {
    margin-bottom: 6px;
}
#autocomplete{
    border: 1px solid #cdcdcd;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
    padding-left: 10px;
}
#statusbox{
    border: 1px solid #cdcdcd;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    border-bottom: hidden;
}
.status-send-button{
    right: 11px;
    top: 94px;
    position: absolute
}
.load-more{
    margin-top: 30px;
}

/*
+-----------------+
|      footer     |
+-----------------+
*/
footer hr {
    border-color: #acacac !important;
}

.footer-text {
    margin-bottom: -20px;
}

footer {
    background-color: #274251;
}

footer h4 {
    color: #ffffff;
    margin-top: -5px;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #eee;
    border-bottom-color: #ffffff;
    /*border-bottom-width: 3px;*/
    /*width: 240px;*/
    font-size: 13pt;
}

@media (max-width: 768px) {
    footer h4 {
        margin-left: 40px;
        margin-right: 40px;
    }
}

footer .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-map {
    list-style-type: none;
}

@media (min-width: 768px) {
    .site-map {
        margin-left: -40px;
    }
}

@media (min-width: 995px) {
    .site-map li {
        display: inline;
    }
}

footer a {
    color: #ffffff;
    font-weight: 200;
}

footer .sobre a {
    color: #ffffff;
}

footer .sobre {
    color: #ffffff;
}

footer a:hover {
    color: #d9d9d9;
}

/*
+-----------------+
|      navbar     |
+-----------------+
*/
.nav .open>a{
    border-color: #274251 !important;
}

.navbar-default {
    background-color: #1c2b33;
    border-color: #274251;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d0d0d0;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d0d0d0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #1c2b33;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #d0d0d0;
    background-color: #274251;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #274251;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d0d0d0;
    background-color: #274251;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #d0d0d0;
    background-color: #274251;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #d0d0d0;
    background-color: #274251;
}
.navbar-default .navbar-toggle {
    border-color: #274251;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #274251;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #d0d0d0;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d0d0d0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d0d0d0;
        background-color: #274251;
    }
}
/*fim navbar*/

.btn-success {
    background-color: #274251 !important;
    border-color: #243748;

}
.btn-success:hover{
    border-color: #1c2b38;
}

.btn-action {
    background-color: #ff9252 !important;
    border-color: #e28149;
    color: white;

}
.btn-action:hover{
    border-color: #d17744 !important;
    color: #e6e6e6;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.mudar-cidade-modal {
    background-color: rgba(255, 255, 255, 0.85);
}