/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*body {*/
  /*font-size: 100%;*/
  /*font-family: "Bitter", sans-serif;*/
  /*color: #f5f4ed;*/
  /*background-color: #795d6b;*/
/*}*/

/*a {*/
  /*color: #e86256;*/
  /*text-decoration: none;*/
/*}*/

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/*header {*/
  /*background: #5c4751;*/
  /*height: 100px;*/
  /*text-align: center;*/
/*}*/
/*header h1 {*/
  /*font-size: 20px;*/
  /*font-size: 1.25rem;*/
  /*font-weight: bold;*/
  /*font-family: "Open Sans", sans-serif;*/
  /*text-transform: uppercase;*/
  /*font-weight: bold;*/
  /*padding-top: 1.6em;*/
  /*margin-bottom: .2em;*/
/*}*/
/*header p {*/
  /*font-size: 13px;*/
  /*font-size: 0.8125rem;*/
  /*color: #957484;*/
/*}*/
/*@media only screen and (min-width: 1024px) {*/
  /*header {*/
    /*height: 200px;*/
  /*}*/
  /*header h1 {*/
    /*font-size: 30px;*/
    /*font-size: 1.875rem;*/
    /*padding-top: 2.6em;*/
  /*}*/
/*}*/

/*main p {*/
  /*font-size: 16px;*/
  /*font-size: 1rem;*/
  /*line-height: 1.6;*/
  /*margin: 2em 0;*/
/*}*/
/*@media only screen and (min-width: 1024px) {*/
  /*main p {*/
    /*font-size: 20px;*/
    /*font-size: 1.25rem;*/
  /*}*/
/*}*/

.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  border-radius: 5px;
  top: 4px;
  right: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #3e6880 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #3e6880;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 30px;
    width: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
  }
}
